@font-face {
  font-family: "Cloudy";
  src: url(src/assets/fonts/Cloudy.ttf) format("truetype");
}

@font-face {
  font-family: "Bubbles";
  src: url(src/assets/fonts/RubikBubbles-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(src/assets/fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(src/assets/fonts/Poppins-Medium.ttf) format("truetype");
}

body {
  background-image: url(src/assets/sky1920x1080.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: clip;
  display: flex;
  justify-content: center;
}

.projectsContainer {
  display: flex;
  flex: 1;
  /* height: 400vh; */
  /* width: 80vw; */
  /* margin: 0 20%; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 50px;
  /* overflow: hidden; */
  /* padding-top: 100px; */
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  /* max-width: 100vw; */
  /* background-color: rgba(255, 255, 255, 0.11);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3);
  background: rgba(145, 186, 233, 0);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2); */
}

.projectDiv {
  display: flex;
  flex-direction: row;
  /* flex-shrink: 1; */
  justify-content: center;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.11);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3);
  background: rgba(145, 186, 233, 0.1);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 80px; */
  /* border: 2px solid brown; */
  /* backdrop-filter: blur(5px); */
  /* width: 80%; */
  margin: 0px 10px;
}

.projectDiv.bubbles {
  width: 300px;
  /* border-radius: 50%; */
  height: 300px;
  backdrop-filter: blur(2px);
  cursor: pointer;
  transition: 500ms;
  /* animation: float 3s ease-in-out infinite; */
}

.projectDiv.bubbles:nth-child(odd) {
  animation-delay: 0.5s;
}

.projectDiv.bubbles:hover {
  /* box-shadow: 0 0 25px rgba(255, 250, 239, 0.5); */
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(255, 250, 239, 0.3);
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 60%; */
  height: 100%; /* Set the container height */
  padding: 20px 0;
  /* border: 2px solid red; */
  overflow: hidden; /* Ensure overflow content is not visible */
}

.projectImage {
  max-height: 100%;
  max-width: 90%;
  object-fit: contain; /* Preserve aspect ratio and fit within the container */
}

.projectDesc {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
  row-gap: 20px;
  height: 60vh;
  width: 40vw;
  padding: 20px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 2px solid yellow; */
}

.projectInfo h3 {
  font-size: 50px;
  font-family: "Poppins-Bold";
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.projectInfo p {
  font-size: 30px;
  font-family: "Poppins-Medium";
  color: var(--primary-color);
  /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6); */
}
.bubbleContainer {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  /* height: 100vh; */
  /* width: 100vw; */
  /* animation: float 3s ease-in-out infinite; */
}

.bubbleBtn {
  padding: 10px 20px;
  width: max-content;
  /* background: linear-gradient(90deg, #8c52ff, #ff914d); */
  /* background: linear-gradient(
    90deg,
    rgba(140, 82, 255, 0.8),
    rgba(255, 145, 77, 0.8)
  ); */
  background-color: #ffffff00;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3);
  background: radial-gradient(
      circle at 85% 20%,
      rgba(255, 255, 255, 0.3) 0%,
      transparent 20%
    ),
    radial-gradient(
      circle at 10% 90%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 40%
    );
  color: #fff;
  font-family: "Poppins-Bold";
  font-size: 30px;
  border-radius: 50px;
  cursor: pointer;
  /* animation: float 3s ease-in-out infinite; */
}

.bubbleBtn a {
  text-decoration: none;
  color: white;
}
/* .button {
  background-color: blue;
  height: 100px;
  width: 100px;
} */

.projectName {
  margin-top: 10px;
  font-size: 25px;
  font-family: "Poppins-Bold";
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.bubbles {
  position: relative;
  display: flex;
  flex-shrink: 1;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.7); */
  /* circular highlight at top right of bubble */
  background: radial-gradient(
    circle at 75% 30%,
    rgba(255, 255, 255, 0.5) 0%,
    transparent 20%
  );
  /* backdrop-filter: blur(1px); */
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 20px;
  /* font-size: 30px; */
  /* color: white; */
  /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); */
  /* animation: float 3s ease-in-out infinite; */
  caret-color: transparent;
  transition: opacity 100ms;
}

.bubbles.float {
  animation: float 3s ease-in-out infinite;
}
.bubbles.pop {
  animation: pop 100ms cubic-bezier(0.16, 0.87, 0.48, 0.99) forwards;
}

/* .bubbleContainer:first-child {
  margin-top: 10%;
} */

/* .bubbleContainer:nth-child(1), */
/* .bubbles, */
/* .bubbles:nth-child(1) {
  animation-delay: 1.5s;
} */

/* .bubbleContainer:nth-child(3), */
/* .bubbles, */
/* .bubbles:nth-child(3) {
  animation-delay: 1.5s;
} */
/* .bubbles:nth-child(5) {
  animation-delay: 1.5s;
} */

.bubbleLighting {
  position: absolute;
  border-radius: 50%;
  height: inherit;
  width: inherit;
  /* background-color: rgba(255, 255, 255, 0.158); */
  background: radial-gradient(
    circle at 30% 70%,
    rgba(255, 255, 255, 0.5) 0%,
    transparent 30%
  );
  border-left: 30px inset rgba(255, 255, 255, 0.107);
  transition: box-shadow 600ms;
  /* border-left: 50px inset rgba(145, 194, 249, 0.1); */
}

.bubbleLighting:hover {
  box-shadow: 0 0 25px rgba(255, 250, 239, 0.5);
}
/* .bubbles span:nth-child(1) {
  border-left: 15px solid rgba(255, 255, 255, 1);
} */

/* .bubbles.popped {
  transform: scale(2);
  opacity: 0;
} */

/* .bubbleImage { */
/* width: 90%; */
/* position: absolute; */
/* height: 100%; */
/* border: 1px solid white;
  border-radius: 50%;
  border-left: 15px solid rgba(255, 255, 255, 0.5); */
/* } */

.popSpan {
  display: flex;
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}
/* .bubbles:hover {
  animation: pop 0.5s cubic-bezier(0.16, 0.87, 0.48, 0.99) forwards;
} */

/* .bubblePop {
  display: none;
  position: absolute;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: white; */
/* border: 2px solid yellow; */
/* animation: popAfterTop 200ms ease; */
/* opacity: 0; */
/* transition: transform 5s; */
/* z-index: 3; */
/* } */

/* #pop1 {
  animation: popAfterTop 200ms ease;
}

#pop2 {
  animation: popAfterTopRight 200ms ease;
}

#pop3 {
  animation: popAfterRight 200ms ease;
}

#pop4 {
  animation: popAfterBottomRight 200ms ease;
}

#pop5 {
  animation: popAfterBottom 200ms ease;
}

#pop6 {
  animation: popAfterBottomLeft 200ms ease;
}

#pop7 {
  animation: popAfterLeft 200ms ease;
}

#pop8 {
  animation: popAfterTopLeft 200ms ease;
} */

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes popAfterTop {
  0% {
    /* transform: translateY(0);*/
    /* opacity: 1; */
  }
  100% {
    opacity: 1;
    transform: translateY(-150px);
  }
}

@keyframes popAfterTopRight {
  0% {
    /* transform: translateY(0);*/
    /* opacity: 1; */
  }
  100% {
    opacity: 1;
    transform: translate(105px, -105px);
  }
}

@keyframes popAfterRight {
  0% {
    /* transform: translateY(0);*/
    /* opacity: 1; */
  }
  100% {
    opacity: 1;
    transform: translateX(150px);
  }
}

@keyframes popAfterBottomRight {
  0% {
    /* transform: translateY(0);*/
    /* opacity: 1; */
  }
  100% {
    opacity: 1;
    transform: translate(105px, 105px);
  }
}

@keyframes popAfterBottom {
  0% {
    /* transform: translateY(0);*/
    /* opacity: 1; */
  }
  100% {
    opacity: 1;
    transform: translateY(150px);
  }
}

@keyframes popAfterBottomLeft {
  0% {
    /* transform: translateY(0);*/
    /* opacity: 1; */
  }
  100% {
    opacity: 1;
    transform: translate(-105px, 105px);
  }
}

@keyframes popAfterLeft {
  0% {
    /* transform: translateY(0);*/
    /* opacity: 1; */
  }
  100% {
    opacity: 1;
    transform: translateX(-150px);
  }
}

@keyframes popAfterTopLeft {
  0% {
    /* transform: translateY(0);*/
    /* opacity: 1; */
  }
  100% {
    opacity: 1;
    transform: translate(-105px, -105px);
  }
}
/* @media (max-width: 598px) {
  .bubbles {
    width: 200px;
    height: 200px;
  }
  .projectName {
    font-size: 20px;
  }
}*/

/* @media (max-width: 399px) {
  /* .bubbles {
    width: 150px;
    height: 150px;
  }
  .projectName {
    font-size: 15px;
  } */

/* .bubbleContainer {
    width: 100vw;
    height: 100vh; */
/* margin: none; */
/* }
} */

/* @media (max-width: 800px) {
  .bubbleContainer {
    height: 50vh;
  }
} */
/* 
@media (max-width: 2000px) {
  .bubbles {
    width: 800px;
    height: 800px;
  }
}

@media (max-width: 1400px) {
  .bubbles {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 1200px) {
  .bubbles {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 520px) {
  .bubbles {
    width: 400px;
    height: 400px;
  }

  .bubbleContainer {
    height: unset;
  }
}

@media (max-width: 420px) {
  .bubbles {
    width: 300px;
    height: 300px;
  }

  .bubbleContainer {
    height: unset;
  }
}

@media (max-width: 320px) {
  .bubbles {
    width: 200px;
    height: 200px;
  }

  .bubbleContainer {
    height: none;
  }
} */
