/* .toggleButton {
  background-color: #f1f1f1;
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100px;
  border-radius: 20px;
} */

.projectPageContainer {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 50px 200px 0; */
  /* margin: 30px 200px; */
  margin-bottom: 60px;
  padding: 30px 40px;
  width: 80vw;
  /* border: 1px solid #000; */
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.918);

  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.projectTitle {
  font-size: 60px;
  font-family: "Poppins-Bold";
  color: white;
  color: var(--primary-color);
  /* text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

.projectContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: var(--secondary-color); */
  font-size: 20px;
  font-family: "Poppins-Medium";
  /* margin: 20px 0; */
}

.projectContent section {
  margin: 20px 0;
}

.projectContent h1 {
  font-size: 30px;
  font-family: "Poppins-Bold";
  color: var(--secondary-color);
}

.projectContent ul {
  margin-left: 50px;
}

.projectPage a {
  text-decoration: none;
  color: white;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.backBtn {
  color: var(--primary-color) !important;
  color: rgb(230, 67, 94) !important;
  cursor: pointer;
  text-align: center;
  text-decoration: underline !important;
  font-size: 24px;
  font-family: "Poppins-Medium";
  cursor: pointer;
  z-index: 20;
  padding: 0 20px;
}

/* .sliderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.sliderItem {
  width: 100%;
  height: 100%;
}

.sliderItem img {
  width: 100%;
  height: 100%;
} */

/* .sliderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sliderItem img {
  width: 100%;
  height: auto;
}

.carousel-container {
  width: 80%;
  min-height: 500px;
  overflow: hidden;
  background-color: lightgrey; /* Temporary debugging *
}

.carousel-item {
  width: 100px; /* Ensure the items take up full width 
  height: 200px; /* Or any height you want 
}

/* Limit the image size to fit within the carousel item 
.carousel-item img {
  width: 100%; /* Makes the image responsive to the carousel's width 
  max-height: 300px; /* Ensures the image doesn't grow too tall /
  object-fit: cover; /* Ensures the image fits without distortion /
} */

/* .carousel {
  width: 100%;
}

.innerCarousel {
  display: flex;
  flex-direction: row;
  height: 300px;
}

.carouselItem img {
  width: 100%;
  /* height: 100%;
  object-fit: cover; /
  height: auto;
} */

/* container for overflow of images */
.carousel {
  cursor: grab;
  overflow-x: hidden;
  max-width: 100%;
}

/* container to drag images within outer container */
.innerCarousel {
  display: flex;
}

.carouselItemVert {
  min-height: 20rem;
  min-width: 14rem;
  padding: 5px 20px;
}

.carouselItemVert img {
  width: 100%;
  height: 100%;
  /* border-radius: 2rem; */
  pointer-events: none;
  object-fit: scale-down;
}

.carouselItemHoriz {
  min-height: 10rem;
  min-width: 30rem;
  padding: 5px 10px;
  /* border: 1px solid #000; */
  /* width: 8px; */
}

.carouselItemHoriz img {
  width: 100%;
  height: 100%;
  /* border-radius: 20px; */
  pointer-events: none;
  object-fit: scale-down;
  /* border: 1px solid purple; */
}

.sliderModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalImage {
  width: 80vw;
  height: 80vh;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  /* border-radius: 20px; */
  /* z-index: 10; */
}

.modalImage img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

@media (max-width: 1440px) {
  .projectTitle {
    font-size: 50px;
  }

  .projectContent h1 {
    font-size: 25px;
  }

  .projectContent {
    font-size: 18px;
  }

  .projectPage .button {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .projectPage {
    width: 90vw;
  }

  .projectTitle {
    font-size: 45px;
  }

  .projectContent h1 {
    font-size: 20px;
  }

  .projectContent {
    font-size: 16px;
  }

  .projectContent section {
    margin: 10px 0;
  }

  .backBtn {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .projectPage {
    width: 95vw;
  }

  .projectTitle {
    font-size: 30px;
  }

  .carouselItemHoriz {
    min-width: 25rem;
  }

  .projectContent ul {
    margin-left: 30px;
  }
}

@media (max-width: 480px) {
  /* .projectPage {
    width: 97vw;
  } */
  .projectPage {
    padding: 20px 20px;
  }

  .projectTitle {
    font-size: 25px;
  }

  .projectContent h1 {
    font-size: 18px;
  }

  .projectContent {
    font-size: 14px;
  }

  .projectContent section {
    margin: 5px 0;
  }

  .projectPage .button {
    font-size: 18px;
  }

  .backBtn {
    font-size: 18px;
  }

  .carouselItemHoriz {
    min-width: 20rem;
  }
}

@media (max-width: 400px) {
  .projectTitle {
    font-size: 20px;
  }

  .projectContent h1 {
    font-size: 16px;
  }

  .projectContent {
    font-size: 12px;
  }

  .projectContent section {
    margin: 2px 0;
  }

  .projectContent ul {
    margin-left: 20px;
  }

  .projectPage .button {
    font-size: 16px;
  }

  .backBtn {
    font-size: 16px;
  }

  .carouselItemHoriz {
    min-width: 18rem;
  }
}
