* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1c4a79;
  --secondary-color: #005991;
  --tertiary-color: #f7f7f7;
  --quaternary-color: #f7f7f7;
  --quinary-color: #f7f7f7;
  --senary-color: #f7f7f7;
  --septenary-color: #f7f7f7;
  --octonary-color: #f7f7f7;
  --nonary-color: #f7f7f7;
  --denary-color: #f7f7f7;
}

body {
  background-image: url(src/assets/sky1920x1080.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@font-face {
  font-family: "Cloudy";
  src: url(src/assets/fonts/Cloudy.ttf) format("truetype");
}

@font-face {
  font-family: "Bubbles";
  src: url(src/assets/fonts/RubikBubbles-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "RubberDuck";
  src: url(src/assets/fonts/rubber-duck.Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(src/assets/fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(src/assets/fonts/Poppins-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: url(src/assets/fonts/Poppins-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Black";
  src: url(src/assets/fonts/Poppins-Black.ttf) format("truetype");
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  /* background-image: url(src/assets/sky1920x1080.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
  /* background-attachment: fixed; */
}

.nav {
  display: flex;
  width: 38%;
  align-self: flex-end;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  margin: 0 40px;
  /* border: 1px solid #000; */
}

.nav a {
  text-decoration: none;
  color: var(--primary-color);
  /* color: #fff; */
  /* text-shadow: 1px 1px 1px #1c4a79; */
  font-size: 35px;
  font-family: "Poppins-Medium";
  font-family: "RubberDuck", sans-serif;
  /* font-family: "Cloudy", sans-serif; */
}
.welcome {
  display: flex;
  /* flex-shrink: 1; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* width: 100%; */
  /* height: 80%; */
  /* border: 1px solid #000; */
  padding: 40px 0 0 0;
  margin: 0 40px;
}

.subHdr {
  font-size: 60px;
  font-family: "Poppins-Bold";
  /* font-family: "RubberDuck", sans-serif; */
  /* font-family: "PlaywriteNGModern-Regular"; */

  color: var(--primary-color);
}

.floatingText {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 20px;
}

.floatingLine {
  display: flex;
  align-self: center;
}

.floatingSpan {
  /* display: inline-block; */
  /* font-size: 150px; */
  font-size: calc(10vw - 10px);
  font-family: "RubberDuck", sans-serif;
  color: #ffffff00;
  background: radial-gradient(
      circle at 85% 20%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 30%
    ),
    radial-gradient(
      circle at 15% 75%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 30%
    );
  background-clip: text;
  -webkit-background-clip: text;
  /* letter outline */
  -webkit-text-stroke-width: 0.015em;
  /* letter outline color */
  -webkit-text-stroke-color: rgba(255, 255, 255, 1);
  /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.15); */
  animation: floating 5s ease-in-out infinite;
  transition: transform 0.3s, text-shadow 200ms;
  cursor: pointer;
  opacity: 1;
  white-space: nowrap; /* Prevents the text from wrapping */
}

.floatingSpan:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  background: linear-gradient(90deg, #8c52ff, #ff914d);
  /* background: linear-gradient(
    90deg,
    rgba(140, 82, 255, 0.8),
    rgba(255, 145, 77, 0.8)
  ); */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: "Poppins-Bold";
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

/* @media (max-width: 1400px) {
  .nav a {
    font-size: 20px;
  }

  .subHdr {
    font-size: 40px;
  }

  .floatingSpan {
    font-size: 110px;
  }
} */

/* Media Queries for Responsive Design */
@media (max-width: 1400px) {
  .nav {
    width: 50%;
    padding: 20px 30px;
  }

  .nav a {
    font-size: 20px;
  }

  .subHdr {
    font-size: 60px;
  }
  /* 
  .floatingSpan {
    font-size: 100px;
  } */
}

@media (max-width: 1025px) {
  .nav {
    width: 60%;
    padding: 15px 20px;
    margin: 0 20px;
  }

  .nav a {
    font-size: 18px;
  }

  .welcome {
    height: 50%;
    justify-content: flex-end;
    align-items: center;
  }

  .subHdr {
    font-size: 30px;
  }

  .floatingText {
    flex-direction: column;
  }
  /* .floatingSpan {
    font-size: 80px;
  } */
  .floatingSpan {
    font-size: calc(15vw - 10px);
  }
  .button {
    font-size: 18px;
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .nav {
    width: 70%;
    padding: 10px 15px;
    margin: 0 10px;
  }

  .nav a {
    font-size: 14px;
  }

  .subHdr {
    font-size: 25px;
  }

  .button {
    font-size: 16px;
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    margin: 0;
  }

  .nav a {
    font-size: 14px;
    padding: 5px 0;
  }

  .welcome {
    align-items: center;
    margin: 0 20px;
    height: 40%;
  }

  .subHdr {
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
  }

  .floatingSpan {
    font-size: calc(20vw - 10px);
    /* text-align: center; */
  }

  .button {
    font-size: 14px;
    padding: 5px 10px;
  }

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
