* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1c4a79;
  --secondary-color: #005991;
  --tertiary-color: #f7f7f7;
  --quaternary-color: #f7f7f7;
  --quinary-color: #f7f7f7;
  --senary-color: #f7f7f7;
  --septenary-color: #f7f7f7;
  --octonary-color: #f7f7f7;
  --nonary-color: #f7f7f7;
  --denary-color: #f7f7f7;
}

body {
  background-image: url(/sky1920x1080.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@font-face {
  font-family: "Cloudy";
  src: url(/fonts/Cloudy.ttf) format("truetype");
}

@font-face {
  font-family: "Bubbles";
  src: url(/fonts/RubikBubbles-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik-Bold";
  src: url(/fonts/Rubik-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "RubberDuck";
  src: url(public/fonts/rubber-duck.Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(/fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(/fonts/Poppins-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: url(/fonts/Poppins-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Black";
  src: url(/fonts/Poppins-Black.ttf) format("truetype");
}

a {
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  /* background-image: url(src/assets/sky1920x1080.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
  /* background-attachment: fixed; */
}

.navContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100vw;
  height: 10%;
  /* background-color: rgb(199, 239, 241);
  background-color: white; */
  /* position: fixed; */
  /* border: 1px solid #000; */
}

.nav {
  display: flex;
  width: 38%;
  align-self: flex-end;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  margin: 0 40px;
  /* background-color: white; */
  /* border: 1px solid #000; */
}

.nav a {
  text-decoration: none;
  color: var(--primary-color);
  /* color: #fff; */
  /* text-shadow: 1px 1px 1px #1c4a79; */
  font-size: 25px;
  font-family: "Poppins-Medium";
  /* font-family: "RubberDuck", sans-serif; */
  /* font-family: "Cloudy", sans-serif; */
}

.mobileMenu {
  display: none;
}

.mobileMenu a {
  font-size: 30px;
  color: var(--primary-color);
}

.welcome {
  display: flex;
  /* flex-shrink: 1; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* width: 100%; */
  /* height: 80%; */
  /* border: 1px solid #000; */
  padding: 40px 0 0 0;
  margin: 0 40px;
}

.subHdr {
  font-size: 60px;
  font-family: "Poppins-Bold";
  /* font-family: "RubberDuck", sans-serif; */
  /* font-family: "PlaywriteNGModern-Regular"; */
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: var(--primary-color);
}

.floatingText {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 20px;
}

.floatingLine {
  display: flex;
  align-self: center;
}

.floatingSpan {
  /* display: inline-block; */
  /* font-size: 150px; */
  font-size: calc(10vw - 10px);
  font-family: "RubberDuck", sans-serif;
  color: #ffffff00;
  background: radial-gradient(
      circle at 85% 20%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 30%
    ),
    radial-gradient(
      circle at 15% 75%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 30%
    );
  background-clip: text;
  -webkit-background-clip: text;
  /* letter outline */
  -webkit-text-stroke-width: 0.015em;
  /* letter outline color */
  -webkit-text-stroke-color: rgba(255, 255, 255, 1);
  /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.15); */
  animation: floating 5s ease-in-out infinite;
  transition: transform 0.3s, text-shadow 200ms;
  cursor: pointer;
  opacity: 1;
  white-space: nowrap; /* Prevents the text from wrapping */
}

.floatingSpan:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  background: linear-gradient(90deg, #8c52ff, #ff914d);
  /* background: linear-gradient(
    90deg,
    rgba(140, 82, 255, 0.8),
    rgba(255, 145, 77, 0.8)
  ); */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: "Poppins-Bold";
  font-size: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ABOUT PAGE */

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.aboutDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 60px; */
  /* width: 60vw; */
  width: 80vw;
  font-size: 20px;
  padding: 20px 40px 40px;
  background-color: rgba(255, 255, 255, 0.918);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  margin-bottom: 100px;
}

.aboutDiv.bubbleBtn {
  width: 80vw;
  font-size: 20px;
  padding: 80px;
}

.aboutBox .subHdr {
  font-size: 40px;
  margin-top: 10px;
  /* margin-bottom: 20px; */
}

/* .aboutBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
} */

/**** CONTACT PAGE *****/
.contactPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins-Medium";
  font-size: 20px;
  /* border: 2px solid red; */
}

.contactPage section {
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60rem;
  height: 30rem;
  /* padding: 0 50px; */
  column-gap: 40px;
  margin-bottom: 20px;
}

.contactPage section .button {
  font-size: 20px;
}

.contactCard {
  border: 2px solid green;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.918);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px;
  color: black;
  width: 100%;
  height: 100%;
  .contactInfo h2 {
    font-family: "Poppins-Bold";
    text-align: center;
  }

  .contactInfo p {
    font-family: "Poppins-Medium";
  }
}

.contactCard .photo {
  height: 200px;
  width: 200px;
  margin: 10px 0;
}

.contactCard .photo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.links {
  margin: 10px 0;
}

.smallIcon {
  height: 50px;
  width: 50px;
  margin: 0 2px;
}

.contactForm {
  border: 2px solid orange;
  display: flex;
  flex: 1;
  flex-direction: column;
  color: black;
  background-color: rgba(255, 255, 255, 0.918);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0px 0px 5px orange; */
  padding: 40px;
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.contactForm form {
  /* border: 2px solid purple; */
  /* margin: 20px 0; */
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  button {
    align-self: center;
  }
}

.contactForm label {
  text-align: left;
}

.contactForm input,
.contactForm textarea {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: unset;
  border: unset;
  border-bottom: 2px solid orange;
}

/* MODAL */
/* Modal CSS */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(255, 255, 255);
  padding: 20px 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.767);

  p {
    font-size: 20px;
    margin: 10px 0;
  }

  .button {
    /* margin: 10px; */
    /* padding: 5px; */
    font-size: 18px;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media (min-width: 1445px) {
  .contactPage section {
    width: 80rem;
    height: 50rem;
    font-size: 30px;

    .button {
      font-size: 25px;
    }

    .smallIcon {
      height: 40px;
      width: 40px;
    }

    .contactCard .photo {
      height: 250px;
      width: 250px;
    }
  }
}

/* Media Queries for Responsive Design */
@media (max-width: 1400px) {
  .nav {
    width: 50%;
    padding: 20px 30px;
  }

  .nav a {
    font-size: 18px;
  }

  .subHdr {
    font-size: 60px;
  }

  .aboutContainer .floatingSpan {
    font-size: 100px;
  }

  .aboutBox {
    .subHdr {
      font-size: 30px;
    }

    p {
      font-size: 18px;
    }
  }

  .aboutContainer .button {
    font-size: 20px;
  }
  /* 
  .floatingSpan {
    font-size: 100px;
  } */
}

@media (max-width: 1025px) {
  .nav {
    width: 50%;
    padding: 15px 20px;
    margin: 0 20px;
  }

  .nav a {
    font-size: 16px;
  }

  .welcome {
    height: 50%;
    justify-content: flex-end;
    align-items: center;
  }

  .subHdr {
    font-size: 30px;
  }

  .floatingText {
    flex-direction: column;
  }
  /* .floatingSpan {
    font-size: 80px;
  } */
  .floatingSpan {
    font-size: calc(15vw - 10px);
  }
  .button {
    font-size: 18px;
    padding: 8px 16px;
  }

  .aboutContainer .floatingText {
    flex-direction: row;
  }

  .aboutContainer .floatingSpan {
    font-size: 90px;
  }

  .aboutDiv {
    width: 90vw;
  }

  .aboutBox {
    .subHdr {
      font-size: 25px;
    }

    p {
      font-size: 16px;
    }
  }

  .aboutContainer .button {
    font-size: 20px;
  }

  .contactPage section {
    width: 47rem;
    height: 30rem;
    font-size: 17px;

    .button {
      font-size: 18px;
    }

    .smallIcon {
      height: 40px;
      width: 40px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .navContainer {
    height: 5%;
  }
  .nav {
    width: 60%;
    padding: 10px 15px;
    margin: 0 10px;
  }

  .nav a {
    font-size: 14px;
  }

  .subHdr {
    font-size: 25px;
  }

  .button {
    font-size: 16px;
    padding: 6px 12px;
  }

  .aboutContainer .floatingSpan {
    font-size: 60px;
  }

  .aboutBox {
    .subHdr {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }

  .aboutContainer .buttonHolder {
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }

  .aboutContainer .button {
    font-size: 18px;
    text-align: center;
    width: 200px;
  }

  .contactPage section {
    width: 25rem;
    height: 80%;
    flex-direction: column;
    column-gap: 0;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    .button {
      font-size: 16px;
    }

    .smallIcon {
      height: 30px;
      width: 30px;
    }

    .contactCard .photo {
      height: 150px;
      width: 150px;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    width: 60%;
    padding: 10px 15px;
    margin: 0 10px;
  }

  .nav a {
    font-size: 14px;
  }

  .subHdr {
    font-size: 25px;
  }

  .button {
    font-size: 16px;
    padding: 6px 12px;
  }

  .aboutContainer .floatingSpan {
    font-size: 60px;
  }

  .aboutBox {
    .subHdr {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }

  .aboutContainer .buttonHolder {
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }

  .aboutContainer .button {
    font-size: 18px;
    text-align: center;
    width: 200px;
  }

  .contactPage section {
    width: 25rem;
    height: 100%;
    flex-direction: column;
    column-gap: 0;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    .button {
      font-size: 16px;
    }

    .smallIcon {
      height: 30px;
      width: 30px;
    }

    .contactCard .photo {
      height: 150px;
      width: 150px;
    }
  }
}

@media (max-width: 480px) {
  .navContainer {
    justify-content: left;
  }

  .nav {
    display: none;
  }

  .nav a {
    font-size: 14px;
    padding: 5px 0;
  }

  .mobileMenu {
    display: flex;
    font-size: 30px;
    margin: 0 20px;
  }

  .welcome {
    align-items: center;
    margin: 0 20px;
    height: 40%;
  }

  .subHdr {
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
  }

  .floatingSpan {
    font-size: calc(20vw - 10px);
    /* text-align: center; */
  }

  .button {
    font-size: 14px;
    padding: 5px 10px;
  }

  .mobileMenu {
    margin: 0 10px;
  }

  .aboutContainer .floatingText {
    display: none;
  }

  .aboutContainer .floatingSpan {
    font-size: 40px;
  }

  .aboutDiv {
    width: 95vw;
    padding: 20px;
    margin: 10px 0;
    /* margin: 0 40px; */
  }

  .aboutBox {
    .subHdr {
      font-size: 18px;
      text-align: left;
    }

    p {
      font-size: 14px;
    }
  }

  .aboutContainer .button {
    font-size: 15px;
  }

  .contactPage section {
    width: 18rem;
    height: 50rem;
    flex-direction: column;
    column-gap: 0;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 13px;

    .button {
      font-size: 16px;
    }

    .smallIcon {
      height: 30px;
      width: 30px;
    }

    .contactCard .photo {
      height: 150px;
      width: 150px;
    }

    .contactForm {
      padding: 20px;
    }
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
